.sudoku-cell {
    border: 1px solid;
    width: 48px;
    height: 48px;
}
.sudoku-cell:hover {
    cursor: pointer;
}
.sudoku-cell:active {
    background-color: #D0D0D0;
}
.sudoku-cell p {
    text-align: center;
    margin-top: 12px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}